equipment-reservation-soap-api/src/main/resources/xsd/equipment-reservation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://groupmergeworks.com/sirmeows/equipment-reservation"
           xmlns:tns="http://groupmergeworks.com/sirmeows/equipment-reservation"
           elementFormDefault="qualified">

    <xs:element name="createReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="equipmentId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:string"/>
                <xs:element name="equipmentId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
