equipment-reservation-soap-api/src/main/resources/xsd/equipment-reservation-soap-api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://groupmergeworks.com/sirmeows/equipment-reservation-soap-api"
           xmlns:tns="http://groupmergeworks.com/sirmeows/equipment-reservation-soap-api"
           elementFormDefault="qualified">

    <xs:element name="createReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="equipmentId" type="tns:uuid"/>
                <xs:element name="startTime" type="xs:dateTime"/>
                <xs:element name="endTime" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="tns:uuid"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listReservationsRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="listReservationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="tns:uuid"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="tns:uuid"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="equipment">
        <xs:sequence>
            <xs:element name="equipmentId" type="tns:uuid"/>
            <xs:element name="name" type="tns:nonBlankString"/>
            <xs:element name="status" type="tns:equipmentStatus"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reservation">
        <xs:sequence>
            <xs:element name="reservationId" type="tns:uuid"/>
            <xs:element name="equipment" type="tns:equipment"/>
            <xs:element name="startTime" type="xs:dateTime"/>
            <xs:element name="endTime" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="uuid">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nonBlankString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="equipmentStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE"/>
            <xs:enumeration value="MAINTENANCE"/>
            <xs:enumeration value="RETIRED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="equipmentNotFoundFault" type="tns:faultDetail"/>

    <xs:element name="reservationNotFoundFault" type="tns:faultDetail"/>

    <xs:element name="reservationConflictFault" type="tns:faultDetail"/>

    <xs:element name="equipmentUnavailableFault" type="tns:faultDetail"/>

    <xs:element name="invalidReservationTimeFault" type="tns:faultDetail"/>

    <xs:element name="invalidRequestFault" type="tns:faultDetail"/>

    <xs:element name="invalidUuidFault" type="tns:faultDetail"/>

    <xs:complexType name="faultDetail">
        <xs:sequence>
            <xs:element name="message" type="tns:nonBlankString"/>
            <xs:element name="resourceId" type="tns:uuid" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
